<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Management</title>
</head>
<body>a
  <div align="center">
		
	<h1>Customer Management</h1>
	<a th:href="@{/new}">Create New Customer</a>
	<br/><br/>

	<br/>

	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>
					<p>ID</p>
				</th>
				<th>
					<p>Name</p>
				</th>
				<th>
					<p>Photo</p>
				</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${listCustomers}">
				<td th:text="${c.id}">ID</td>
				<td th:text="${c.name}">Name</td>
				<td><img th:src="@{${c.PhotosImagePath}}" width="100" height="27"/></td>
			</tr>
		</tbody>
	</table>
	
	</div>
</body>
</html>